In [ ]:
from langchain.agents import create_sql_agent, AgentType
from langchain_openai import ChatOpenAI
from langchain_community.utilities.sql_database import SQLDatabase
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit
import warnings

# 경고 메시지 숨기기
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=UserWarning)

llm = ChatOpenAI(temperature=0.1, model="gpt-4.1-nano")

db = SQLDatabase.from_uri("sqlite:///movies.sqlite")

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,  # ZERO_SHOT_REACT_DESCRIPTION 대신 OPENAI_FUNCTIONS 사용
    handle_parsing_errors=True,
    max_iterations=5,  # 최대 반복 횟수 제한
)

# 더 구체적인 프롬프트 사용
result = agent.invoke({
    "input": "Find the top 5 directors with the highest total gross earnings from their films. Please provide the director names and their total gross earnings."
})

print(result["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{'tool_input': ''}`


directors, movies
Invoking: `sql_db_schema` with `{'table_names': 'directors,movies'}`



CREATE TABLE directors (
	name TEXT,
	id INTEGER,
	gender INTEGER,
	uid INTEGER,
	department TEXT,
	PRIMARY KEY (id)
)

/*
3 rows from directors table:
name	id	gender	uid	department
James Cameron	4762	2	2710	Directing
Gore Verbinski	4763	2	1704	Directing
Sam Mendes	4764	2	39	Directing
*/


CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT d.name, SUM(m.revenue) AS total_gross\nFROM directors d\nJOIN movies m ON d.id = m.director_id\nGROUP BY d.name\nORDER BY total_gross DESC\nLIMIT 5;'}`
responded: To find the top 5 directors with the highest total gross earnings from their films, I will join the `directors` and `movies` tables on the `director_id` and `id` fields, then sum the `revenue` for each director. Finally, I will order the results by total gross earnings in descending order and limit the output to 5 results.

Here is the query I will use:

```sql
SELECT d.name, SUM(m.revenue) AS total_gross
FROM directors d
JOIN movies m ON d.id = m.director_id
GROUP BY d.name
ORDER BY total_gross DESC
LIMIT 5;
```

Now, I will check this query for correctness before executing it.

```sql
SELECT d.name, SUM(m.revenue) AS total_gross
FROM directors d
JOIN movies m ON d.id = m.director_id
GROUP BY d.name
ORDER BY total_gross DESC
LIMIT 5;
```
Invoking: `sql_db_query` with `{'query': 'SELECT d.name, SUM(m.revenue) AS total_gross\nFROM directors d\nJOIN movies m ON d.id = m.director_id\nGROUP BY d.name\nORDER BY total_gross DESC\nLIMIT 5;'}`


[('Steven Spielberg', 9147393164), ('Peter Jackson', 6498642820), ('James Cameron', 5883569439), ('Michael Bay', 5832524638), ('Christopher Nolan', 4227483234)]The top 5 directors with the highest total gross earnings from their films are:

1. **Steven Spielberg** - $9,147,393,164
2. **Peter Jackson** - $6,498,642,820
3. **James Cameron** - $5,883,569,439
4. **Michael Bay** - $5,832,524,638
5. **Christopher Nolan** - $4,227,483,234

> Finished chain.
The top 5 directors with the highest total gross earnings from their films are:

1. **Steven Spielberg** - $9,147,393,164
2. **Peter Jackson** - $6,498,642,820
3. **James Cameron** - $5,883,569,439
4. **Michael Bay** - $5,832,524,638
5. **Christopher Nolan** - $4,227,483,234